.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

.texto{
    text-align: center;
    font-size: 24px;
}

.button{
    width: 150px;
    height: 40px;
    background-color: black;
    border: 2px solid #FDD935;
    transition-timing-function: cubic-bezier(.86,.01,.15,.99);
    transition-duration: 1s;
    cursor: pointer;
}

.button:hover{
    color: black;
    border: 2px solid black;
    background-color: #FDD935;
    transition: all 0.5s ease-in-out;
}


@media (min-width: 320px) {
    .ul{
        list-style-type: number;
        width: 80%;
        max-width: 500px;
        margin-block-start: 2em;
        margin-block-end: 2em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 20px;
    } 
    .li{
        margin-bottom: 15px;
    }
} 

@media (min-width: 900px) {
    .ul{
        list-style-type: number;
        
    
    }
} 